* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, arial, sans-serif;
background: #f3a736; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzYTczNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE4JSIgc3RvcC1jb2xvcj0iI2JmZDFiMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iIzQ2Nzk5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc0JSIgc3RvcC1jb2xvcj0iIzQ2Nzk5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iI2FkZGRkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #f3a736 0%, #bfd1b3 18%, #467996 24%, #467996 74%, #adddd7 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3a736), color-stop(18%,#bfd1b3), color-stop(24%,#467996), color-stop(74%,#467996), color-stop(85%,#adddd7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f3a736 0%,#bfd1b3 18%,#467996 24%,#467996 74%,#adddd7 85%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f3a736 0%,#bfd1b3 18%,#467996 24%,#467996 74%,#adddd7 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f3a736 0%,#bfd1b3 18%,#467996 24%,#467996 74%,#adddd7 85%); /* IE10+ */
background: linear-gradient(to bottom,  #f3a736 0%,#bfd1b3 18%,#467996 24%,#467996 74%,#adddd7 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3a736', endColorstr='#adddd7',GradientType=0 ); /* IE6-8 */

}
#frameone, #frametwo, #framethree {
	min-height: 1700px;
}

.page-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 620px;
}
/* Navigation styles */
#primary {
	position: fixed;
	top: 20px;
	left: 50px;
	z-index: 1000;
}
#primary li {
	list-style-type: none;
	margin-bottom: 12px;
}
#primary li a {
	display: block;
	background: url(/images/arrows.png) no-repeat bottom left;
	text-indent: -9999em;
	height: 20px;
	width: 28px;
}
#primary li a:hover, #primary li a.active {
	background: url(/images/arrows.png) no-repeat top left;
}
#primary li a.framefour {
	background: url(/images/heart.png) no-repeat bottom left;
}
#primary li a.framefour.active {
	background: url(/images/heart.png) no-repeat top left;
}
#girl {
	position: fixed;
	top: 20px;
	margin-left: -387.5px;
	left: 50%;
	width: 775px;
	z-index: 995;
	background: url(/images/girl-sunny.png) no-repeat top left;
	background-size: contain;
	height: 899px;
}
.frametwo #girl {
	background: url(/images/girl-rainy.png) no-repeat top left;
	background-size: contain;
}
.framethree #girl {
	background: url(/images/girl-party.png) no-repeat top left;
	background-size: contain;
}
/* FRAMEONE */
#frameone  .background {
	z-index: 3;
}
#frameone .middleground {
	z-index: 6;
}
#frameone .foreground {
	z-index: 12;
}
/* Background */
#sun {
	position: absolute;
	top: -68px;
	left: 30%;
}
.cloud {
	position: absolute;
}
#cloud-1 {
	width: 142px;
	margin-left: -71px;
	top: 50px;
	left: 15%;
}
#cloud-2 {
	width: 205px;
	margin-left: -102.5px;
	top: 150px;
	left: 22%;
}
#cloud-3 {
	width: 254px;
	margin-left: -127px;
	top: 590px;
	left: 15%;
}
#cloud-4 {
	width: 304px;
	margin-left: -152px;
	top: 50px;
	right: 0;
}
#cloud-5 {
	width: 202px;
	margin-left: -101px;
	top: 500px;
	left: 60%;
}
#cloud-6 {
	width: 143px;
	margin-left: -71.5px;
	top: 450px;
	left: 36%;
}
/* middle ground */
#plane {
	position: absolute;
	top: 30px;
	left: 67%;
}
#balloon-1 {
	position: absolute;
	top: 630px;
	left: 11%;
}
#balloon-2 {
	position: absolute;
	top: 520px;
	right: 4%;
}
#bird-1 {
	position: absolute;
	top: 450px;
	right: 11%;
}
#bird-2 {
	position: absolute;
	top: 590px;
	left: 27%;
}
#bird-3 {
	position: absolute;
	top: 340px;
	left: 0%;
}
#frameone-titlebanner1, #frameone-titlebanner2  {
	position: absolute;
	top: 140px;
	width: 965px;
	margin-left: -482.5px;
	left: 50%;
	z-index: 999;
}
#frameone-titlebanner2 {
	z-index: 994;
}
#frameone .foreground p {
	color: #285571;
	position: absolute;
	top: 480px;
	font-size: 39px;
	left: 18%;
	z-index: 999;
	opacity: 1;
}

/* FRAMETWO */
#frametwo {
	position: relative;
}
#frametwo .stormy {
	position: absolute;
}
.drops {
	position: absolute;
	text-indent: -9999em;
	min-height: 614px;
	width: 100%;
	top: 160px;
	left: 0;
}
#drops-background {
	background: url(/images/drops-background.png) no-repeat top left;
}
#drops-middleground {
	background: url(/images/drops-middleground.png) no-repeat top left;
}
#drops-foreground {
	background: url(/images/drops-foreground.png) no-repeat top left;
}
#frametwo .foreground .stormy {
	z-index: 999;
}
#frametwo .background .stormy {
	right: 0;
	top: 70px;
}
#stormy-1 {
	top: 160px;
}
#stormy-2 {
	top: 384px;
	right: 22%;
}
#stormy-3 {
	top: 500px;
	left: 27%;
}
#stormy-4 {
	top: 800px;
	right: 0;
}
#frametwo-titlebanner {
	width: 781px;
	position: absolute;
	margin-left: -390.5px;
	left: 50%;
	z-index: 999;
	top: 50px;
}
#frametwo .foreground p {
	position: absolute;
	color: #f0f6e5;
	font-size: 34px;
	width: 300px;
	top: 540px;
	left: 21%;
	z-index: 999;
}
/* FRAME THREE */
.landscape {
	background: url(/images/landscape.png) no-repeat -170px bottom;
}
#framethree {
	min-height: 950px;
	position: relative;
}
#framethree img {
	position: absolute;
}
#framethree-titlebanner {
	z-index: 999;
	top: 80px;
	width: 683px;
	margin-left: -341.5px;
	left: 50%;
}
#partyballoons-3 {
	right: 170px;
	top: 640px;
}
#fireworks-2 {
	width: 975px;
	margin-left: -487.5px;
	left: 50%;
	top: 70px;
}
#gifts {
	right: 7%;
	top: 770px;
}
#partyballoons-2 {
	top: 550px;
	right: -100px;
}
#confetti {
	width: 1174px;
	margin-left: -587px;
	left: 50%;
	z-index: 999;
	top: 270px;
}
#fireworks-1 {
	z-index: 999;
	top: 10px;
	right: 0;
}
#partyballoons-1 {
	top: 430px;
	left:0;
}
#hats {
	left: 22%;
	top: 760px;
}

/* FRAME FOUR */
#framefour {
	background: #f3a735;
}
#framefourtitle {
	margin-bottom: 5px;
}
#framefour .content {
	max-width: 800px;
	margin: 0 auto;
	padding-top: 50px;
}
#framefour p {
	font-size: 38px;
	color: #285571;
	margin-bottom: 50px;
}
.form {
	background: #285571;
	padding: 20px;
	position: relative;
	min-height: 250px;
}
form label {
	width: 46%;
	float: left;
	display: block;
	margin-right: 4%;
	clear: both;
	margin-bottom: 10px;
}
form label.even {
	margin-right: 0;
	float: right;
	clear: none;
}
form label span {
	display: block;
	color: #f0f6e5;
	font-size: 16px;
	margin-bottom: 5px;
}
form label input, form label select {
	display: block;
	width: 90%;
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border: 0;
padding: 15px;
}
form button {
	display: block;
	background: url(/images/button.png) no-repeat top left;
	border: 0;
	color: #eb2d5e;
	font-size: 17px;
	padding: 19px 19px 35px;
	width: 395px;
	float: right;
	margin: 18px -54px 0 0;
	cursor: pointer;
}
form .arrow {
	float: left; 
	margin-top: 76px;
}
#framefour p.privacy {
	font-size: 14px;
	margin: 20px 0;
}
.clear {
	clear: both;
	height: 1px;
}
#framefour p.success, #framefour p.wait {
	color: #f3a735; 
	font-size: 54px;
	padding: 30px 0;
	margin-bottom: 0;
	clear: both;
	display: none;
}
@media screen and (max-width: 1040px) {
	#plane {
		left: 79%;
	}
	#bird-3, #bird-1, #balloon-2, #stormy-3, #stormy-4 {
		display: none;
	}
	#girl {
		width: 600px;
		margin-left: -300px;
		height: 696px;
	}
	#frameone-titlebanner1, #frameone-titlebanner2 {
		width: 750px;
		margin-left: -375px;
	}
	#frameone .foreground p { 
		font-size: 29px;
		top: 360px;
		left: 21%;
	}
}
@media screen and (max-width: 930px) {
	#frametwo .foreground p {
		left: 11%;
	}
	#stormy-2 {
		top: 354px;
		right: 50px;
	}
	#stormy-5 {
		display: none;
	}
}
@media screen and (max-width: 850px) {
	#cloud-3, #bird-2 {
		display: none;
	}
	#cloud-4 {
		left: 70%;
	}
	#plane {
		top: 80px;
	}
	#frametwo-titlebanner {
		width: 580px;
		margin-left: -290px;
	}
}
@media screen and (max-width: 775px) {
	#girl {
		width: 400px;
		margin-left: -200px;
		height: 464px;
	}
	#frameone-titlebanner1, #frameone-titlebanner2 {
		width: 450px;
		margin-left: -225px;
		top: 70px;
	}
	#balloon-1, #plane, #cloud-5, #stormy-1, #stormy-2 {
		display: none;
	}
	#frameone .foreground p { 
		font-size: 19px;
		top: 257px;
		left: 23%;
	}
	#frametwo .foreground p {
		margin-left: -150px;
		left: 50%;
	}
}
@media screen and (max-width: 525px) {
	#cloud-2 {
		left: 72%;
	}
	#cloud-4 {
		display: none;
	}
	#sun {
		left: 6%;
	}
	
}